{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Create New Hiking Route</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="d-flex justify-content-between mt-4">
            <a href="{% url 'route_list' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Back to Routes
            </a>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-save"></i> Create Route
            </button>
        </div>
    </form>
</div>


{% endblock %}
